<nav class="mynavbar navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">        
    <a class="navbar-brand text-white-50" href="/"><i class="fas fas fa-home fa-lg"></i></i> Flask Start</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
        
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto">      
        <li class="nav-item"><a class="nav-link" href="/" title="Home"><i class="fas fa-check"></i> Home</a></li>        
      </ul>   
    </div>
  </div>
</nav>