{% extends 'admin/master.html' %}

{% block body %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    

<div class="panel panel-default">
<div class="panel-heading">Найпопулярніші пости</div> 
<div class="panel-body">

<nav class="">
  <ul class="nav flex-column">
    {% for POST in POSTS[0:10] %}   
      <li class="nav-item">
      <span>        
        {{ POST.title }}                
        <a class="nav-link" title="Edit" href="/admin/article/edit/?id={{ POST.id }}" >   
        <i class="fas fa-edit"></i>          
        </a>
      </span>    
      </li>           
    {% endfor %}    
  </ul>
</nav> 


</div>
</div>  
{% endblock %}