{% extends 'base.html' %}

{% block body %}
<div class="container">		
  <h1>Авторизація</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <a href="/reset_password_request">Забули пароль</a>
    <div class="g-recaptcha" data-sitekey="{{ CONFIG.GOOGLE_RECAPTCHA_SITE_KEY }}"></div>
    <div class="login-buttons">
      <div class="login-button">
        <button type="submit" class="btn bg-success border-dark">Увійти</button>  
      </div>     
      <div class="login-button">
        <a class="btn btn-block bg-primary p-0 text-white border-dark" href="/loginfb">
          <span class="fab fa-facebook-f"></span> Увійти за допомогою Facebook
        </a>
      </div>
      <div class="login-button">
        <a class="btn btn-block bg-danger p-0 text-white border-dark" href="/logingl">
          <span class="fab fa-google"></span> Увійти за допомогою Google
        </a>
      </div>
    </div>
    
    
  </form>
</div>  
  
<script src='https://www.google.com/recaptcha/api.js'></script>   
{% endblock %}
